---
http_interactions:
- request:
    method: get
    uri: http://api.votesmart.org/Rating.getCandidateRating?candidateId=110942&key=KEY&o=JSON
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"candidateRating":{"generalInfo":{"title":"Project Vote Smart - Interest
        Group Ratings","linkBack":"http:\/\/votesmart.org\/issue_rating_category.php?can_id=110942"},"candidate":{"title":"Senator","firstName":"Michael","middleName":"Farrand","lastName":"Bennet","suffix":"","office":"U.S.
        Senate"},"rating":[{"sigId":"599","ratingId":"13049","categories":{"category":{"categoryId":"101","name":"Marijuana"}},"timespan":"2022","rating":"92","ratingName":"Positions
        [2022-01-12]","ratingText":"Senator Michael Bennet supported the interests
        of the NORML (National Organization for the Reform of Marijuana Laws) 92 percent
        in 2022."},{"sigId":"2439","ratingId":"13099","categories":{"category":{"categoryId":"104","name":"Oil
        and Gas"}},"timespan":"2022","rating":"40","ratingName":"Lifetime Positions","ratingText":"Senator
        Michael Bennet supported the interests of the Independent Petroleum Association
        of America 40 percent in 2022."},{"sigId":"1985",[...]
