---
http_interactions:
- request:
    method: get
    uri: http://api.votesmart.org/CandidateBio.getBio?candidateId=71547&key=KEY&o=JSON
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"bio":{"generalInfo":{"title":"Project Vote Smart - Bio -  John Hickenlooper","linkBack":"http:\/\/votesmart.org\/bio.php?can_id=71547"},"candidate":{"candidateId":"71547","crpId":"N00044206","photo":"https:\/\/static.votesmart.org\/canphoto\/71547.jpg","firstName":"John","nickName":"","middleName":"Wright","preferredName":"John","lastName":"Hickenlooper","suffix":"","birthDate":"02\/07\/1952","birthPlace":"Narberth,
        PA","pronunciation":"","gender":"Male","family":"Divorced: Helen; 1 Child:
        Teddy; Wife: Robin","homeCity":"Denver","homeState":"CO","religion":"Episcopalian","specialMsg":""},"office":{"name":["U.S.
        Senate","U.S. Senate"],"parties":"Democratic","title":"Senator","shortTitle":"Sen.","type":"Congressional","status":"active","firstElect":"11\/03\/2020","lastElect":"11\/03\/2020","nextElect":"","termStart":"01\/03\/2021","termEnd":"","district":"Junior
        Seat","districtId":"20447","stateId":"CO","committee":[{"committeeId":"29","committeeName":"Committee
        on Commerce, Science, and Transportation"},{"committeeId":"30","committeeName":"Committee
        on Energy and Natural Resources"},{"committeeId":"41","committeeName":"Committee
        on Health, Education, Labor and Pensions"},{"committeeId":"45","committeeName":"Committee
        on Small Business and Entrepreneurship"},{"committeeId":"3936","committeeName":"Subcommittee
        on Aviation Safety, Operations, and Innovation"},{"committeeId":"12725","committeeName":"Subcommittee
        on Children and Families"},{"committeeId":"13269","committeeName":"Subcommittee
        on Communications, Media, and Broadband"},{"committeeId":"12726","committeeName":"Subcommittee
        on Employment and Workplace Safety"},{"committeeId":"3973","committeeName":"Subcommittee
        on Energy"},{"committeeId":"3974","committeeName":"Subcommittee on Public
        Lands, Forests, and Mining"},{"committeeId":"16689","committeeName":"Subcommittee
        on Space and Science"},{"committeeId":"13272","committeeName":"Subcommittee
        on Tourism, Trade, and Export Promotion"},{"committeeId":"3971","committeeName":"Subcommittee
        on Water and Power"}]}}}'
  recorded_at: Mon, 16 May 2022 22:06:34 GMT
recorded_with: VCR 6.1.0
